<div class="post-box">
    <div class="post-metadata">
        <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
    <div class="post-title">
        <a href="/blog/{{id}}">{{blog_header}}</a>
    </div>
    <div class="post-content">
        <p>{{blog_body}}</p>
    </div>
</div>
